.wrapper {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}
h1{
    margin: 0px;
    text-align: justify;
}
    
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    }
    
.column {
    flex-basis: 16.666%;
    box-sizing: border-box;
    padding: 8px;
    }

.box {
    height: 150px;
    background-color: lightblue;
    border-radius: 5%;
    }

.img{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.desc{
    display: block;
    background-color: whitesmoke;
    height: 35px;
    padding-top: 13px;
    text-align: center; 
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
p{
	text-align:justify;
}
